@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.project1{
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100vw;
    img{
        clip-path: inset(100% 0% 0% 0%);
        transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
        &.is-reveal{
            clip-path: inset(0% 0% 0% 0%);
        }
    }
    &-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 6fr;
        grid-gap: 10%;
        align-items: center;
        justify-content: center;
    }
    &-name{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 15%;
        &>h6{
            font-size: 6rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: rgb(192, 192, 192)
        }
        &>span{
            font-family: 'Oswald', sans-serif;
            font-size: 4.5rem;
            font-weight: 500;
            letter-spacing: 0.1em;
            color: transparent;
            -webkit-text-stroke: 2px rgb(163, 163, 163);
        }
    }
    &-image1{
        height: 100%;
        margin-top: 100px;
        img{
            z-index: 0;
            width: 430px;
            height: 35vh;
        }
    }
    &-image2{
        margin-top: 150px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        img{
            z-index: 0;
            width: 800px;
            height: 58vh;
        }
    }
}