.otherprojects{
    border-top: 1px solid #ccc;
    position: relative;
    top: 250%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    &-heading{
        display: flex;
        flex-direction: column;
        font-weight: 800;
        margin-left: 40px;
        font-size: 2rem;
    }
    &-projects{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40%;
        &-dashboard{
            margin: 120px 0px 100px 250px;
            &>img{
                position: absolute;
                border-radius: 10px;
                height: 280px;
                width: 490px;
                left: 10%;
                top: 50%;
            }
            .dashboard-image{
                opacity: 0;
                transform: translateX(-50%);
                visibility: hidden;
                transition: 0.8s;
            }
            &>span{
                font-size: 3rem;
                font-weight: 800;
                &:hover{
                    cursor: pointer;
                }
            }
            &:hover .dashboard-image{
                opacity: 1;
                transform: translateX(0%);
                visibility: visible;
            }

        }
        &-cardeko{
            margin-left: 250px;
            margin-bottom: 100px;
            &>span{
                margin-bottom: 14px;
                font-size: 3rem;
                font-weight: 800;
                &:hover{
                    cursor: pointer;
                }
            }
            .cardeko-image{
                opacity: 0;
                transform: translateX(-50%);
                visibility: hidden;
                transition: 0.8s;
            }
            &>img{
                position: absolute;
                border-radius: 10px;
                height: 600px;
                width: 360px;
                left: 18%;
                top: 28%;
            }
            &:hover .cardeko-image{
                opacity: 1;
                transform: translateX(0%);
                visibility: visible;
            }
        }
        &-crud{
            margin-left: 250px;
            &>img{
                visibility: hidden;
                position: absolute;
                border-radius: 10px;
                height: 280px;
                width: 490px;
                left: 10%;
                top: 50%;
            }
            .crud-image{
                opacity: 0;
                transform: translateX(-50%);
                visibility: hidden;
                transition: 0.8s;
            }
            &>span{
                margin-top: 14px;
                font-size: 3rem;
                font-weight: 800;
                &:hover{
                    cursor: pointer;
                }
            }
            &:hover .crud-image{
                opacity: 1;
                transform: translateX(0%);
                visibility: visible;
            }
        }
    }
}