.navbar{
    display: none;
    box-sizing: border-box;
    padding: 30px 50px 40px;
    width: 100%;
    animation: appear 1s;
    background-color: white;
    .logo{
        font-weight: 400;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width:480px){
    .navbar{
            display: block;
            margin-left: -20px;
            position: fixed;
            font-weight: 600;
            z-index: 999;
            mix-blend-mode: difference;
            color: white;
            background-color: black;
            border: 0;
            &-left{
                width: 100%;
                &-logo{
                    &>h3{
                        font-size: 1rem;
                        font-weight: 800;
                        &:hover, &:active{
                            cursor: none;
                            transform: none;
                        }
                    }
                }
            }
        }
        
}

.main{
    background-color: white;
    &-container{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    &-left{
        width: 60%;
        margin-top: 20%;
        margin-left: 11%;
        animation: vis 2s;
        &-roles{
            color: #555555;
            padding: 0;
            margin-left: 3px;
            font-size: 1rem;
            font-weight: 600;
        }
        &-name{
            color: #303030;
            &-first, &-last{
                padding: 0;
                margin: 0;
                &>span{
                    font-size: 4.5rem;
                    font-weight: 600;
                }
            }
            &-last{
                margin-top: -14px;
            }
        }
    }
    &-right{
        width: 40%;
        margin-top: 5%;
        margin-right: 90px;
    }
}
@keyframes vis {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
@media (max-width: 480px) {
    .main{
        &-container{
            display: flex;
        }
        &-left{
            width: 100vw;
            padding-left: 30px;
            &-roles{
                color: #3b3b3b;
                padding: 130px 0 0 0;
                margin: 0;
                font-size: 1.6rem;
                font-weight: 700;
                p{
                    span{
                        font-size: 1.8rem;
                        font-weight: bolder;
                        margin-top: 100px;
                    }
                }
            }
            &-name{
                display: none;
            }
        }
        &-right{
            display: none;
        }
    }
}