.main{
    background-color: white;
    &-container{
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    &-left{
        width: 60%;
        padding-top: 180px;
        padding-left: 150px;
        animation: vis 2s;
        &-roles{
            color: #555555;
            padding: 0;
            margin-left: 3px;
            font-size: 1rem;
            font-weight: 600;
        }
        &-name{
            color: #303030;
            &-first, &-last{
                padding: 0;
                margin: 0;
                &>span{
                    font-size: 4.5rem;
                    font-weight: 600;
                }
            }
            &-last{
                margin-top: -14px;
            }
        }
    }
    &-right{
        width: 50%;
        margin-top: 12px;
        margin-right: 150px;
    }
}
@keyframes vis {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
@media (max-width: 480px) {
    .main{
        &-container{
            display: flex;
        }
        &-left{
            width: 100vw;
            padding-left: 30px;
            &-roles{
                color: #3b3b3b;
                padding: 130px 0 0 0;
                margin: 0;
                font-size: 1.6rem;
                font-weight: 700;
                p{
                    span{
                        font-size: 1.8rem;
                        font-weight: bolder;
                        margin-top: 100px;
                    }
                }
            }
            &-name{
                display: none;
            }
        }
        &-right{
            display: none;
        }
    }
}