.contact{
    a{
        text-decoration: none;
    }
    &-top{
        width: 100%;
        height: 20vh;
        background-color: black;
        &-links{
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            &-left{
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 250px;
                .LinkedIn, .Github{
                    &>a{
                        font-weight: 600;
                        color: rgb(82, 73, 168);
                        font-size: 1.3rem;
                    }
                }
            }
            &-right{
                margin-right:40px;
                .contact-mail{
                    &>span{
                        color: rgb(160, 160, 160);
                        font-weight: 800;
                    }
                }
                .contact-mailId{
                    margin-top: 8px;
                    a{
                        color: rgb(124, 124, 124);
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &-bottom{
        width: 100%;
        height: 6vh;
        background-color: #181818;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .copyright{
            &>span{
                font-weight: 600;
                margin-left: 20px;
                font-size: 0.8rem;
                color: rgb(141, 141, 141);
            }
        }
    }
}