.loader-component{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4rem;
    animation: animateTopDown 1s;
    color: black;
}
@keyframes animateTopDown {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}